USE [CoreAirplusDb]
GO
/****** Object:  StoredProcedure [dbo].[SAVEAVAILABILITY]    Script Date: 9/17/2018 11:24:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[SAVEAVAILABILITY]
@LISTINGID BIGINT,
@CALENDARDATE DATETIME,
@ISAVAILABLE BIT,
@PRICE MONEY,
@PROPERTYID INTEGER
AS
BEGIN  
  INSERT INTO CalendarPrices(ListingId,CalendarDate,IsAvailable,Price,PropertyId) VALUES(@LISTINGID,@CALENDARDATE,@ISAVAILABLE,@PRICE,@PROPERTYID);
END



