<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="mongoconn" value="mongodb://airplusmongo:7ABjdtYSDQ4Zn3oB4zMPF82xIiK5JgRkTgYjgB7kylxE1jSkaOPnY0qYgtrheNKmOTKFGy98Ao4OKxLm00SQkg==@airplusmongo.documents.azure.com:10255/?ssl=true&amp;replicaSet=globaldb"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
        <services>
      <service name="AirplusWcf.Service1" behaviorConfiguration="MyServiceTypeBehaviors">
        <!--<endpoint address=""

                  binding="wsHttpBinding"

                  contract ="AirplusWcf.IService1"

                  bindingConfiguration="ServiceBinding"

                  behaviorConfiguration="MyEndPointBehavior" >
        </endpoint>-->
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name ="ServiceBinding">
          <security mode="None"/>            
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
            <!--<endpointBehaviors>
        <behavior name="MyEndPointBehavior">
        </behavior>
      </endpointBehaviors>-->
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <!--<serviceBehaviors>
        <behavior name="CustomBehavior">
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="true"/>
          --><!--<serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="AirplusWcf.AuthorizationPolicy,AirplusWcf" />
            </authorizationPolicies>
          </serviceAuthorization>
        <serviceCredentials>
          <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="AirplusWcf.UserAuthentication,AirplusWcf"/>
                    --><!--Specify the Certificate--><!--
            <serviceCertificate findValue="00e00f4f2f1a1da649a439012fe097af"

                                storeLocation="CurrentUser"

                                x509FindType="FindBySerialNumber"

                                storeName="My"/>
        </serviceCredentials>--><!--
        </behavior>
      </serviceBehaviors>-->
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
